.product__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product__item {
  list-style: none;
  width: 26em;
  margin: 2em;
  border: 1px solid black;
  border-radius: 3%;
}

.product__imgContainer {
  width: 10em;
  height: 22vh;
  margin: 2em auto;
}

.product__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
