.timer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em;
}

.detail__btn {
  background-color: #2B92E1;
  color: white;
  border-radius: 1em;
  width: 7em;
  height: 4vh;
}

.detail__btn:disabled {
  background-color: lightgray;
}
